.container-home{
    display: grid;
    grid-template-columns:auto minmax(auto, 10fr);
    grid-template-rows: auto minmax(auto, 10fr);
    gap:2%;
    margin: 1% 1% 1% 1%;
  }
  
   .thumbnail-home{
     border: solid;
     aspect-ratio: 16/9;
     position: relative;
  }
  
  .image {
    height: 100%;
    width: 100%;
    display: absolute;
    background-image: url(placeholder.jpg);
    z-index: 1;
    position: relative;
  }
  
  .thumbnail-home {
    border: solid;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  }
  .container-desc-box{
    color:black;  
    border-color:black;
    border: solid;
    background-color: azure;
    margin:0.25em;
    padding:0.75em;
    text-align: centre;
    position: absolute;
    top: 85%;
    left: 67.5%; 

    z-index: 2;  
    overflow: hidden;
    white-space:nowrap;
  
  }
 /* .thumbnail-home a,  .thumbnail-home a:visited {
    color:black;
    
    border-color:black;
    border: solid;
    background-color: azure;
    margin:0.25em;
    padding:1em;
    text-align: centre;
    position: absolute;
    top: 85%;
    left: 67.5%; 

    z-index: 2;  
    overflow: hidden;
    white-space:nowrap;
  
  }*/
  
  /* .thumbnail-home:hover .image {
  filter: blur(6px);
  }*/
  
  /*.thumbnail-home:hover a {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    filter: blur(0px);
    visibility: visible;
  } */
  