*{
  box-sizing: border-box;
}

.header {
    display: flex;
    align-self: center;
    justify-content: center;
    outline-style: dotted;
    background-color: White;
    margin-left: 15%;
    margin-right: 15%;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    outline-style: dotted;
    background-color: Gainsboro;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
  }
  a.nav{
    display: inline-flex;
    align-self: center;
    justify-content: center;
    width:calc(100%/3);
    line-height:50%;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  a.nav:link, a.nav:visited {
    background-color: LightSlateGray;
    color: white;
    text-decoration: none;
  }

  a.nav:hover, a.nav:active {
    background-color: SlateGray;
  }

  .description {
    display: flex;
    align-self: center;
    justify-content: center;
    outline-style: dotted;
    background-color: White;
    margin-left: 15%;
    margin-right: 15%;
  }

  .body{
    display:flex;
  }

.content {
   position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    outline-style: dotted;
    background-color: White;

    margin-left: 15%;
    margin-right: 15%;
    min-height: 60%;

  }

.container-home{
  display: grid;
  grid-template-columns:10fr 10fr;
  grid-template-rows:10fr 10fr;
  gap:1%;
  margin: 1% 1% 1% 1%;
}

 .thumbnail-home{
   border: solid;
   aspect-ratio: 16/9;
   position: relative;
}

.image {
  height: 100%;
  width: 100%;
  display: inline-flex;
  border: solid;
  border-width: thin;
  border-color: #d6d6d6;
    
  background-image: url(placeholder.jpg);
  z-index: 1;
  position: relative;
}

.thumbnail-home {
  border: solid;
  aspect-ratio: 16/9;
  position: relative;
}

.thumbnail-home a {
  text-align: center;
  position: absolute;
  visibility: hidden;
  top: 50%;
  margin-top: -0.5em;
  z-index: 2;  
  font-size: large;
}

.thumbnail-home:hover .image {
filter: blur(6px);
}

.thumbnail-home:hover a {
  color: #ffffff;
  text-shadow: 1px 1px #000000;
filter: blur(0px);
  visibility: visible;
}

  .footer{
    background-color: DarkSlateGrey;
    color:floralwhite;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
 