*{
  box-sizing: border-box;
}

.header {
    display: flex;
    align-self: center;
    justify-content: center;
    outline-style: dotted;
    background-color: White;
    margin-left: 15%;
    margin-right: 15%;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    outline-style: dotted;
    background-color: Gainsboro;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
  }
  a.nav{
    display: inline-flex;
    align-self: center;
    justify-content: center;
    width:calc(100%/3);
    line-height:50%;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }



a.thumbs{
  display: inline-flex;
  align-self: center;
  justify-content: center;
  line-height:50%;
  text-align: center;
}

a.thumbs.text{
visibility: hidden;
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
}
a.thumbs:hover, a.thumbs:active a.thumbs.text:hover{
  filter: blur(4px);
  visibility: visible;
}

  a.nav:link, a.nav:visited {
    background-color: LightSlateGray;
    color: white;
    text-decoration: none;
  }

  a.nav:hover, a.nav:active {
    background-color: SlateGray;
  }

  .description {
    display: flex;
    align-self: center;
    justify-content: center;
    outline-style: dotted;
    background-color: White;
    margin-left: 15%;
    margin-right: 15%;
  }

  .body{
    display:flex;
  }

.content {
   position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    outline-style: dotted;
    background-color: White;

    margin-left: 15%;
    margin-right: 15%;
    min-height: 60%;

  }

.container-home{
  display: grid;
  grid-template-columns:10fr 10fr;
  grid-template-rows:10fr 10fr;
  gap:1%;
  margin: 1% 1% 1% 1%;
}

 .thumbnail-home{
   border: solid;
   aspect-ratio: 16/9;

 }


  .footer{
    background-color: DarkSlateGrey;
    color:floralwhite;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
 